@{
    ViewData["Title"] = "Register Page";
}
<section class="main-content">
   <div class="text">
        <div class="gracias">
            <h2>Gracias por unirte a este gran equipo</h2>
            <p>
                Recibiras un correo con toda la informacion para ser de los primeros
                en vivir la experiencia con nuestra version beta
            </p>
        </div>
        <div class="main-img">
                <img src="~/images/bro-page3.svg" class="img"/>
        </div>
   </div>
   
</section>