@{
    ViewData["Title"] = "Home Page";
}
<section class="main-content">
   <div class="text">
        <h2>Conoce una mejor forma<br /> de aprender</h2>
        <h3>Nuestro desafio es que<br /> Aprendas en grande y siempre<br /> estar contigo</h3>
            <div class="main-img">
                    <img src="~/images/rafiki-page1.svg" class="img"/>
            </div>
            <div>
                <a href="@Url.Action("Registro","Home")" class="button-reg">Registrate ahora</a><br />
                <a href="" class="button-ini">Iniciar sesion</a>
            </div>
   </div>
</section>

